<div class="container mx-auto my-8 p-6 rounded-md text-center">
    <h1 class="mb-5 text-xl">Welcome to your dashboard</h1>
    <a href="/dashboard/new-post">
        <button
        id="newPostButton"
        type="button"
        class="mb-5 inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-lg font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200">
        + New Post
        </button>
    </a>

    <div class="mb-4 text-lg font-semibold">Click on your blog thumbnails to view or edit</div>
    <hr class="my-2 border-t border-gray-300">

<div id="blogPostsContainer" class="flex flex-wrap justify-center">
    {{#each blogPosts}}
    <a href="/dashboard/blog-post/{{ this.dataValues.id }}?source=dashboard">
        <div class="bg-white rounded-md overflow-hidden shadow-lg m-4 p-4 w-64 h-72 cursor-pointer transition-transform transform hover:scale-105 flex flex-col items-center justify-center border border-gray-300">
            <h2 class="text-lg font-semibold text-primary-700 overflow-hidden h-24 w-48 flex-grow flex items-center justify-center">{{ this.dataValues.title }}</h2>
            <p class="text-sm text-gray-500 text-center">
                by <strong>{{ this.dataValues.author }}</strong>
            </p>
        </div>
    </a>
    {{/each}}
</div>